<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>

   
      <!--<add name="SQLCONN" connectionString="Server=203.215.163.142;Port=3306;Database=LevelsPro;Uid=root;Pwd=dps123456"/>-->

    
   <add name="SQLCONN" connectionString="Server=23.23.166.66;Port=3106;Database=levelspro;Uid=root;Pwd=dps123!@#;" />
    
  </connectionStrings>
  
  <appSettings>

    <!--<add key="FacebookAppID" value="384460171664774"/>-->
    <add key="FacebookAppID" value="122341164602773"/>
    <add key="FacebookAppSecretID" value="e8a193c802c4a01988a1b6cc62c28b94"/>
    <add key="FacebookScope" value="publish_stream,manage_pages"/>
    <add key="SMTPSERVER" value="192.168.100.22"/>
    <add key="SMTPFROM" value="ahmed.hassan@d-p-s.com"/>

    <!-- Twitter sign-up: https://dev.twitter.com/apps -->
    <add key="twitterConsumerKey" value="PmGyanRLbTRXpq6MhdRRWw" />
    <add key="twitterConsumerSecret" value="wXtjU5ociWGckA8l2URg6lciH7tzlqzBkDbJdUAqy3M" />
    <add key="twitterOAuthToken" value="479729874-SNRJCBsjDOaChdBiHaGXW8YqUHMJCUkFWnU7iRYZ" />
    <add key="twitterAccessToken" value="rtom36AXtaS6cmgAV3XJncXJRvrGhmbG2MPQn1s" />

    <add key="pagesize" value="15"/>
    <add key="AwardsPath" value="../Images/Awards/AwardImages/"/>
    <add key="AwardsThumbPath" value="../Images/Awards/AwardThumbnails/"/>
    <add key="RewardsPath" value="../Images/Rewards/RewardImages/"/>
    <add key="RewardsThumbPath" value="../Images/Rewards/RewardThumbnails/"/>
    <add key="PlayersPath" value="../Images/Players/PlayerImages/"/>
    <add key="PlayersThumbPath" value="../Images/Players/PlayerThumbnails/"/>
    <add key="QuizPath" value="../Images/Quiz/QuizImages/"/>
    <add key="QuizThumbPath" value="../Images/Quiz/QuizThumbnails/"/>
    <add key="RolePath" value="../Images/Role/RoleImages/"/>
    <add key="RoleThumbPath" value="../Images/Role/RoleThumbnails/"/>
    <add key="QuestionPath" value="../Images/Quiz/QuestionImages/"/>
    <add key="QuestionThumbPath" value="../Images/Quiz/QuestionThumbNails/"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <!--<authentication mode="Forms">
      <forms loginUrl="~/Index.aspx" timeout="20" /> --><!--defaultUrl="~/PlayerPanel/PlayerHome.aspx"--><!--
    </authentication>-->
    <sessionState timeout="20"></sessionState>
    <!--<membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>-->
   <!--<globalization culture="fr-FR" uiCulture="fr-FR" requestEncoding="utf-8" responseEncoding="utf-8"/>
    <globalization culture="en-US" uiCulture="en-US" requestEncoding="utf-8" responseEncoding="utf-8"/>-->
    <globalization  fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8"  />
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
